In [1]:
from bs4 import BeautifulSoup
from tqdm import tqdm

In [2]:
import requests
import random
import pandas as pd

In [3]:
user_agent_list = [
   #Chrome
    'Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)'
]

In [4]:
def getJob(active_link, user_agent):
    headers = {'User-Agent':user_agent}
    response = requests.get(active_link, headers=headers, allow_redirects=True)
    soup = BeautifulSoup(response.text)
    return soup.findAll('article', {'class':'jobTuple bgWhite br4 mb-8'})

In [5]:
def getJobAttributes(Job):
    title = Job.find('a', {'class':'title fw500 ellipsis'}).text
    company = Job.find('a', {'class':'subTitle ellipsis fleft'}).text
    experience = Job.find('span', {'class':'ellipsis fleft fs12 lh16'}).text
    location = Job.find('li', {'class':'fleft grey-text br2 placeHolderLi location'}).find('span').text
    pay = Job.find('li', {'class':'fleft grey-text br2 placeHolderLi salary'}).find('span').text
    description_list = Job.find('ul', {'class':'tags has-description'})
    des = description_list.findAll('li')
    description = []
    for i in des:
        description.append(i.text)
    jobDict = {'Title':title, 'Company': company, 'Experience': experience , 'Location': location, 'Pay': pay, 'Description': ' '.join(description)}
    return jobDict

In [6]:
link = 'https://www.naukri.com/business-analyst-jobs{}?k=business%20analyst'
link_list = [
    'https://www.naukri.com/business-analyst-jobs?k=business%20analyst',
            ]
for i in range(2,412):
    link_list.append(link.format(i))

jobList = []

In [7]:
for i in tqdm(range(0,413),desc="Business Analytics"):
    links = link_list[i]
    pageData = getJob(links, 'Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)')
    
    for jobs in pageData:
        jobList.append(getJobAttributes(jobs))

Business Analytics: 100%|█████████▉| 411/413 [22:03<00:06,  3.14s/it]

IndexError: list index out of range

In [11]:
data = pd.DataFrame(data= jobList, columns=['Title', 'Company', 'Experience', 'Location', 'Pay', 'Description'])

In [12]:
data

,Title,Company,Experience,Location,Pay,Description
0,Senior Business Analyst (elearning exp is Mand...,Hurix Systems Private Limited,8-13 Yrs,"Pune, Mumbai",Not disclosed,requirement gathering rfi proposal writing Bus...
1,Urgent Opening For Business analyst ( businees...,Focus Management Consultants Pvt Ltd.,0-3 Yrs,"Pune, Mumbai",Not disclosed,international sales inside sales international...
2,Senior Business Analyst,Standard Chartered Bank Ltd,2-6 Yrs,Bengaluru,Not disclosed,Computer science Business process remediation ...
3,Business Analyst (telecom SME),Vodafone India Services Pvt.Ltd,5-10 Yrs,Pune,Not disclosed,Product Strategy Agile Methodology Business Co...
4,Sr.Business Analyst,Valence Health,2-4 Yrs,Pune,Not disclosed,Statistical analysis Business Analyst Business...
...,...,...,...,...,...,...
8215,Associate Product Manager / Business Analyst,milestone internet marketing pvt ltd,7-10 Yrs,"Ahmedabad, Bengaluru",Not disclosed,Computer science Hospitality Coding Javascript...
8216,Finance Business Analyst | Sales Compensation|...,Varite India Pvt. Ltd.,4-9 Yrs,Bengaluru,Not disclosed,User Acceptance Testing Accounting Banking Sys...
8217,Senior Business Analyst (south Region),PPN Solutions Pvt Ltd.,5-10 Yrs,"Chennai, Bengaluru, Hyderabad",Not disclosed,Senior Business Analyst business analysis
8218,Business Analyst Requirement with Optimize IT ...,Optimize IT Systems Private Limited,5-10 Yrs,Kolkata,Not disclosed,process documentation business analysis scrum ...
8219,Business Analyst,Aezion Technologies Pvt Ltd,2-5 Yrs,Bengaluru,Not disclosed,System Development User Documentation Thinking...

In [13]:
data.to_csv('Business Analyst.csv')